@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 120px;
    background-color: rgb(189, 5, 5);
    text-align: center;
    display: flex;
    justify-content: center;
}

.titulo{    
    font-family: Montserrat;
    padding-top: 1%;
    color: whitesmoke;
    font-size: 64px;
}

.main{
    margin:20px auto;
    max-width: 1100px;
    background-color: rgb(240, 240, 240);
    padding: 0 2%;
    border-radius: 10px;
    position: relative;
}

form{
    display: flex;
    margin: 20px 8px;
    padding: 16px 20px;
}

input{
    font-family: Montserrat;
    flex: 3;
    width: 80%;
    height: 40px;
    padding-left: 10px;
}

input[type=submit]{
    font-family: Poppins;
    flex: 0.5;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-width: 1px;
    border-radius: 3px;
}

input[type=submit]:hover{
    background-color: rgb(146, 5, 5);
}

.pokemon-box{
    display: flex;
}

i{
    position: absolute;
    display: flex;
    top: 50%;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    padding: 2px 2px;
    font-weight: bold;
}

.pokemon-box-img{
    margin-right: 20px;
}

.info{
    margin-top: 16px;
    margin-left: 56px;
    max-width: 1100px;
    padding: 0 2%;
}

img{
    width: 400px;
    height: 400px;
    margin-left: 48px;
}

h2{
    font-family: Montserrat;
    font-size: 48px;
}

.tipo1{
    font-family: Poppins;
    font-size: 32px;
    font-style: italic;
    color: #7CFC00;
}

.tipo2{
    font-family: Poppins;
    font-size: 32px;
    font-style: italic;
    color: #8A2BE2;
}

.barra{
    font-family: Poppins;
    font-size: 32px;
    font-style: italic;  
}

.number{
    font-family: Poppins;
    font-size: 20px;
    margin-right: 6px;
}

.region{
    font-family: Poppins;
    font-size: 20px;
    margin-right: 6px;
}

.altura{
    font-family: Poppins;
    font-size: 20px;
    margin-right: 6px;
    margin-top: 8px; 
}

.peso{
    font-family: Poppins;
    font-size: 20px; 
    margin-left: 6px;
    margin-top: 8px; 
}

h3{
    font-family: Montserrat;
    font-size: 28px;
    margin-bottom: 12px;
}

ul{
    margin-top: 8px;
    font-family: Poppins;
    font-size: 18px;
    list-style: none;
}

li{
    display: inline-block;
    width: 40%;
}

hr{
    width: 320px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.arrow {
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .arrow:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 0 10px 10px 0;
  }
  
  .left-arrow:before {
    transform: translate(-50%, -50%) rotate(135deg);
  }
  
  .right-arrow:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .left-arrow:hover,
  .right-arrow:hover {
    background-color: #555;
    color: #fff;
  }
  
  .left-arrow {
    left: 20px;
  }
  
  .right-arrow {
    right: 20px;
  }

  .shiny-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
  }
  
  .btn-shiny {
    background-color: #38383821;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn-shiny:hover{
    background-color: rgba(189, 5, 5, 0.623);
  }

  .btn-rand {
    background-color: rgb(189, 5, 5);
    border: none;
    color: whitesmoke;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    font-family: Poppins;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    align-items: center;
    border: rgb(230, 230, 230);
    border-radius: 5px;
}

.btn-rand:hover {
    background-color: rgb(255, 0, 0);
}